.pb-11 {
  padding-bottom: 11.5rem !important;
}

.mt--11 {
  margin-top: -11.5rem !important;
}

.top-auto {
  top: auto !important;
}

.left-min-30 {
  left: -30px !important;
}

.fill-main-bg {
  fill: #f8f9fe !important;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
